:root {
  --color-positive: #FFFFFF;
  --color-negative: #000000;
  --color-dark: #af367e;
  --color-serious: #9073b3;
  --color-relaxed: #a8d1e7;
  --color-happy: #b3dbd8;

  --font-title: 'Anton', sans-serif;
  --font-regular: 'Open Sans', sans-serif;

}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  
  font-size: 1.1rem;
  font-family: var(--font-regular);
}

body {
  
  
}

a {
  cursor: pointer;
}

/* header */

.header {
  background-color: #af367e;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  height: 8vh;
  padding: 0.8rem;

  border-bottom: 4px solid black;

}

.header__nav {
  font-size: 1.1rem;
  font-family: var(--font-regular);
}

.header__nav .nav__element {
  color: var(--color-happy);
  padding-left: 0.4rem;
}

.header__nav .nav__element:hover {
  color: var(--color-negative);
}

.main-title {
  font-family: var(--font-title);
  font-size: 2rem;
}

.second-title {
  font-family: var(--font-title);
  font-size: 1.8rem;
}

.third-title {
  text-transform: capitalize;
  font-family: var(--font-title);
  font-size: 1.5rem;
}

/* */